---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="page-header">
    <h1 class="h1-default">{pageTitle}</h1>
  </section>

  <section class="mb-20 text-center">
    <div class="w-[180px] px-5 mx-auto my-0">
      <p class="flex items-center justify-center mb-4 md:justify-start">
        <i class="w-5 h-5 mr-3 fa-solid fa-house"></i>
        San Diego, CA
      </p>
      <p class="flex items-center justify-center mb-4 md:justify-start">
        <i class="w-5 h-5 mr-3 fa-solid fa-phone"></i>
        <a href="tel:850-529-9293">850-529-9293</a>
      </p>
    </div>
  </section>
</BaseLayout>