---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="page-header">
    <h1 class="h1-default">{pageTitle}</h1>
  </section>
</BaseLayout>