---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <section id="about">
    <div class="bg-[url('/home-banner.jpg')] bg-cover bg-center bg-no-repeat h-[240px] min-[650px]:h-[300px] min-[800px]:h-[500px]">
      <div class="flex items-center justify-center h-full">
        <h1 class="p-5 bg-white/50 rounded text-3xl min-[650px]:text-6xl font-bold text-center">
          Cleaning Service
          <span class="block mt-2 text-2xl min-[650px]:mt-4 min-[650px]:text-4xl min-[800px]:mt-4 min-[800px]:text-4xl text-green-700">Veteran Owned</span>
        </h1>
      </div>
    </div>
    <div class="p-2 bg-emerald-100">
      <p class="max-w-screen-md p-5 mx-auto my-0 text-lg min-[650px]:text-2xl text-center text-green-950">We are made up of Active Military, Military Veterans, and members of the Disabled Community, working together to provide a quality cleaning service for your home or commercial facility.</p>
    </div>
  </section>
  <section id="services">
    <div class="text-center p-10 min-[650px]:p-14">
      <h2 class="text-2xl min-[650px]:text-4xl mb-4">Services</h2>
      <div class="">
        <p class="max-w-xl mx-auto my-0 mb-2 text-md min-[650px]:text-xl">We provide cleaning services your home or commercial facility.</p>
        <!-- <p class="max-w-xl mx-auto my-0 mb-2 text-md min-[650px]:text-xl">There are limitations on the types of cleaning services we provide, so be sure to go the Services page to learn more.</p> -->
        <p class="max-w-xl mx-auto my-0 mb-2 text-md min-[650px]:text-xl">Learn more about the types of cleaning services we provide.</p>
        <!-- <p>Click the button below to learn more about the types of cleaning services we provide.</p> -->
        <a href="/services"
          class="
          mt-2
            inline-block
            rounded
            bg-primary
            px-6
            pb-2
            pt-2.5
            text-xs
            font-medium
            uppercase
            leading-normal
            text-white
            shadow-[0_4px_9px_-4px_#3b71ca]
            transition duration-150
            ease-in-out
            hover:bg-primary-600
            hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
            focus:bg-primary-600
            focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
            focus:outline-none
            focus:ring-0 active:bg-primary-700
            active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
            ">
          Learn More
        </a>
      </div>
    </div>
  </section>
  <!-- <section id="testimonials"></section> -->
</BaseLayout>