---
// import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Partners";
---
<BaseLayout pageTitle={pageTitle}>
  <section class="page-header">
    <h1 class="h1-default">{pageTitle}</h1>
  </section>
    <p></p>
</BaseLayout>