---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Cleaning Services";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>

  <div>
    <h2>Homes</h2>
    <div>
      <p><span>Types of cleaning:</span> Dusting, Stain removal, Mold removal, Mopping, Trash</p>
      <p><span>Spaces we clean:</span> Living room, Kitchen, Bathroom, Hallways</p>
      <p><span>Please note:</span> If the home is vacant, we don't enter into bedrooms. We only clean bedrooms unoccupied homes.</p>
    </div>
  </div>

  <div>
    <h2>Facilities</h2>
    <div>
      <p><span>Types of cleaning:</span> Dusting, Stain removal, Mold removal, Mopping, Trash</p>
      <p><span>Spaces we clean:</span> Living room, Kitchen, Bathroom, Hallways</p>
      <p><span>Please note:</span> If the home is vacant, we don't enter into bedrooms. We only clean bedrooms unoccupied homes.</p>
    </div>
  </div>

</BaseLayout>