---
import Social from './Social.astro';

const platform = "github";
const username = "withastro";
---

<!-- Footer container -->
<footer
  class="text-center bg-neutral-100 text-neutral-600 lg:text-left">
  <div class="max-w-screen-lg mx-auto my-0">
    <div
      class="flex items-center justify-center p-6 border-b-2 border-neutral-200 dark:border-neutral-500 lg:justify-center">
      <div class="hidden mr-4 lg:block">
        <span>Get connected with us:</span>
      </div>
      <!-- Social network icons container -->
      <div class="flex justify-center">
        <!-- <a href="#!" class="mr-6 text-xl text-neutral-600"> -->
        <a href="#!" class="text-xl text-neutral-600">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
    </div>

    <!-- Main container div: holds the entire content of the footer, including four sections (Tailwind Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
    <div class="py-10 mx-6 text-center md:text-left">
      <!-- <div class="grid gap-8 grid-1 md:grid-cols-2 lg:grid-cols-4"> -->
      <div class="grid gap-8 grid-1 md:grid-cols-2 lg:grid-cols-4">
        <!-- Tailwind Elements section -->
        <div></div>
        <!-- <div class="">
          <h6
            class="flex items-center justify-center mb-4 font-semibold uppercase md:justify-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-4 h-4 mr-3">
              <path
                d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
            </svg>
            Tailwind ELEMENTS
          </h6>
          <p>
            Here you can use rows and columns to organize your footer
            content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </p>
        </div> -->
        <!-- Products section -->
        <!-- <div class="">
          <h6
            class="flex justify-center mb-4 font-semibold uppercase md:justify-start">
            Products
          </h6>
          <p class="mb-4">
            <a href="#!" class="text-neutral-600 dark:text-neutral-200"
              >Angular</a
            >
          </p>
          <p class="mb-4">
            <a href="#!" class="text-neutral-600 dark:text-neutral-200"
              >React</a
            >
          </p>
          <p class="mb-4">
            <a href="#!" class="text-neutral-600 dark:text-neutral-200"
              >Vue</a
            >
          </p>
          <p>
            <a href="#!" class="text-neutral-600 dark:text-neutral-200"
              >Laravel</a
            >
          </p>
        </div> -->
        <!-- Useful links section -->
        <div class="">
          <h6
            class="flex justify-center mb-4 font-semibold uppercase md:justify-start">
            Site Navigation
          </h6>
          <p class="mb-4">
            <a href="/services" class="text-neutral-600 dark:text-neutral-200"
              >Services</a
            >
          </p>
          <p class="mb-4">
            <a href="/about" class="text-neutral-600 dark:text-neutral-200"
              >About</a
            >
          </p>
          <p class="mb-4">
            <a href="/partners" class="text-neutral-600 dark:text-neutral-200"
              >Partners</a
            >
          </p>
          <p class="mb-4">
            <a href="/contact" class="text-neutral-600 dark:text-neutral-200"
              >Contact</a
            >
          </p>
        </div>
        <!-- Contact section -->
        <div>
          <h6
            class="flex justify-center mb-4 font-semibold uppercase md:justify-start">
            Contact
          </h6>
          <p class="flex items-center justify-center mb-4 md:justify-start">
            <i class="w-5 h-5 mr-3 fa-solid fa-house"></i>
            San Diego, CA
          </p>
          <!-- <p class="flex items-center justify-center mb-4 md:justify-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 mr-3">
              <path
                d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
              <path
                d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
            </svg>
            info@example.com
          </p> -->
          <p class="flex items-center justify-center mb-4 md:justify-start">
            <i class="w-5 h-5 mr-3 fa-solid fa-phone"></i>
            <a href="tel:850-529-9293">850-529-9293</a>
          </p>
          <!-- <p class="flex items-center justify-center md:justify-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 mr-3">
              <path
                fill-rule="evenodd"
                d="M7.875 1.5C6.839 1.5 6 2.34 6 3.375v2.99c-.426.053-.851.11-1.274.174-1.454.218-2.476 1.483-2.476 2.917v6.294a3 3 0 003 3h.27l-.155 1.705A1.875 1.875 0 007.232 22.5h9.536a1.875 1.875 0 001.867-2.045l-.155-1.705h.27a3 3 0 003-3V9.456c0-1.434-1.022-2.7-2.476-2.917A48.716 48.716 0 0018 6.366V3.375c0-1.036-.84-1.875-1.875-1.875h-8.25zM16.5 6.205v-2.83A.375.375 0 0016.125 3h-8.25a.375.375 0 00-.375.375v2.83a49.353 49.353 0 019 0zm-.217 8.265c.178.018.317.16.333.337l.526 5.784a.375.375 0 01-.374.409H7.232a.375.375 0 01-.374-.409l.526-5.784a.373.373 0 01.333-.337 41.741 41.741 0 018.566 0zm.967-3.97a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H18a.75.75 0 01-.75-.75V10.5zM15 9.75a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V10.5a.75.75 0 00-.75-.75H15z"
                clip-rule="evenodd" />
            </svg>
            + 01 234 567 89
          </p> -->
        </div>

        <div></div>
      </div>
    </div>

  </div>

    <!--Copyright section-->
    <div class="p-6 text-center bg-neutral-200 dark:bg-neutral-700">
      <span>© 2023 Copyright:</span>
      <a
        class="font-semibold text-neutral-600 dark:text-neutral-400"
        href="https://mdcleaners.net/"
        >MDCleaners</a
      >
    </div>
</footer>

<!-- <footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>

  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
</footer> -->