---
---
<div class="nav-links">
    <a href="/astro-boilerplate/">Home</a>
    <a href="/astro-boilerplate/about">About</a>
    <a href="/astro-boilerplate/blog">Blog</a>
    <a href="/astro-boilerplate/locations">Locations</a>
  </div>