---
---
<nav class="max-w-screen-lg my-0 mx-auto relative flex flex-nowrap items-center justify-between bg-[#E9F1F9] py-2 text-neutral-500 hover:text-neutral-700 focus:text-neutral-700 lg:flex-wrap lg:justify-start lg:py-4" data-te-navbar-ref>
  <div class="flex flex-wrap items-center justify-between w-full px-3">
    <div class="w-[120px] ml-2 lg:w-[185px]">
      <a class="" href="/"></i> <img src="/mdcleaners-logo.svg" /></a>
    </div>
    <!-- Hamburger button for mobile view -->
    <button
      class="block px-2 bg-transparent border-0 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-800 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent2"
      aria-controls="navbarSupportedContent2"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>

    <!-- Collapsible navbar container -->
    <div
      class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
      id="navbarSupportedContent2"
      data-te-collapse-item>
      <!-- Left links -->
      <ul
        class="flex flex-col justify-end w-full pl-0 mr-auto list-style-none lg:mt-1 lg:flex-row"
        data-te-navbar-nav-ref>
        <li
          class="nav-links-li"
          data-te-nav-item-ref>
          <a
            class="nav-links"
            href="/services"
            data-te-nav-link-ref
            >Services</a
          >
        </li>
        <li
          class="nav-links-li"
          data-te-nav-item-ref>
          <a
            class="nav-links"
            href="/locations"
            data-te-nav-link-ref
            >Locations</a
          >
        </li>
        <!-- <li
          class="nav-links-li"
          data-te-nav-item-ref>
          <a
            class="nav-links"
            href="/about"
            data-te-nav-link-ref
            >About</a
          >
        </li> -->
        <li
          class="nav-links-li"
          data-te-nav-item-ref>
          <a
            class="nav-links"
            href="/contact"
            data-te-nav-link-ref
            >Contact</a
          >
        </li>
        <!-- Disabled link -->
        <!-- <li
          class="nav-links-li"
          data-te-nav-link-ref>
          <a
            class="text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            >Disabled</a
          >
        </li> -->
      </ul>
    </div>
  </div>
</nav>
