---
// import '../styles/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

const pageTitle = "Locations";


---


<BaseLayout pageTitle={pageTitle}>
        <h2>Locations!</h2>

        <div>SAN DIEFO</div>

      </BaseLayout>